<!-- <div *ngIf="user; else notFound">
  <h2>{{ user.name }}</h2>
  <p><strong>Username:</strong> {{ user.username }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>Address:</strong> {{ user.address }}</p>
</div> -->

<!-- .................. -->

<ng-template #notFound>
  <p>User not found.</p>
</ng-template>

<!-- ..................... -->


<!-- <h2>Users</h2>

<ul class="list">
  <li *ngFor="let u of users">
    <div>
      <div><strong>{{ u.name }}</strong></div>
      <div class="muted">{{ u.email }}</div>
    </div>

    <a [routerLink]="['/users', u.id]">View full details</a>
  </li>
</ul> -->

