.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.add-user-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-user-form input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #BF40BF;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.form-actions button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.form-actions button[type="submit"] {
  background-color: #301934;
  color: white;
  border: none;
}

.form-actions button[type="button"] {
  background-color: #ccc;
  border: none;
}