main {
  width: 90%;
  max-width: 50rem;
  margin: 2.5rem auto;
  display: grid;
  grid-template-columns: 1fr 2fr; 
  gap: 2rem;
}

#users {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 2fr; 
  gap: 0.5rem;
}

@media (min-width: 768px) {
  main {
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 1fr 3fr; 
    align-items: start;
  }

  #users {
    flex-direction: column;
  }

  #fallback {
    font-size: 1.5rem;
    text-align: left;
    justify-self: start;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}